---
import ferreHeader from "../images/ferre-inicio.jpg";
import ferreHeaderWebp from "../images/ferre-inicio.webp";
import ferreHeaderAvif from "../images/ferre-inicio.avif";
---

<section
   class="pt-16 bg-slate-900 md:flex items-stretch lg:pb-12 min-h-screen pb-8 relative sm:pb-12 overflow-hidden"
>
   <div
      class="hero grow shrink-0 px-6 py-12 md:py-36 md:px-16 flex items-center"
   >
      <div class="container grow 2xl:max-w-[1344px]">
         <div class="md:flex items-center justify-center">
            <div
               class="mx-auto max-w-md px-4 sm:max-w-3xl sm:px-6 lg:px-8 lg:max-w-7xl lg:grid lg:grid-cols-2 lg:gap-24"
            >
               <div>
                  <h3 class="text-gray-300">Ferretería</h3>
                  <h1 class="text-2xl lg:text-3xl font-bold uppercase text-white">
                     Edifimak
                  </h1>
                  <p class="text-white text-base">
                     Todo buen proyecto necesita todos los implementos para no
                     dejar ningún detalle suelto. Puertas, productos de
                     fijación, accesorios para muebles y más. Bienvenido a
                     Edifimak
                  </p>
                  <div class="mt-5 md:mt-6 flex gap-2 flex-col sm:flex-row">
                     <a
                        class="py-2.5 px-4 md:px-7 rounded-md shadow bg-sky-600 text-white font-medium hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-sky-300 focus:ring-offset-gray-900 whitespace-nowrap sm:w-min text-center text-base transition"
                        href="#categorias">Más info</a
                     >
                  </div>
               </div>
            </div>

            <div class="sm:mx-auto sm:max-w-3xl sm:px-6">
               <div
                  class="py-12 sm:relative sm:mt-12 sm:py-16 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2"
               >
                  <div class="hidden sm:block">
                     <svg
                        class="absolute top-8 right-1/2 -mr-3 lg:m-0 lg:left-0"
                        width="404"
                        height="392"
                        fill="none"
                        viewBox="0 0 404 392"
                     >
                        <defs>
                           <pattern
                              id="837c3e70-6c3a-44e6-8854-cc48c737b659"
                              x="0"
                              y="0"
                              width="20"
                              height="20"
                              patternUnits="userSpaceOnUse"
                           >
                              <rect
                                 x="0"
                                 y="0"
                                 width="4"
                                 height="4"
                                 class="text-gray-600"
                                 fill="currentColor"></rect>
                           </pattern>
                        </defs>
                        <rect
                           width="404"
                           height="392"
                           fill="url(#837c3e70-6c3a-44e6-8854-cc48c737b659)"
                        ></rect>
                     </svg>
                  </div>
                  <div
                     class="relative pl-4 -mr-40 sm:mx-auto sm:max-w-3xl sm:px-0 lg:max-w-none lg:h-full lg:pl-12"
                  >
                     <picture>
                        <source srcset={ferreHeaderAvif} type="image/avif" />
                        <source srcset={ferreHeaderWebp} type="image/webp" />
                        <img
                           class="w-full rounded-md shadow-xl ring-8 ring-gray-700 ring-opacity-90 lg:h-full lg:w-auto lg:max-w-none"
                           src={ferreHeader}
                           alt="Edifimak"
                           width="2000"
                           height="1058"
                        />
                     </picture>
                  </div>
               </div>
            </div>

            <!-- <div class="block basis-0 flex-shrink flex-grow p-2">
               <figure class="relative">
                  <picture>
                     <source srcset={ferreHeaderAvif} type="image/avif" />
                     <source srcset={ferreHeaderWebp} type="image/webp" />
                     <img
                        class="w-full rounded-md shadow-xl ring-8 ring-gray-700 ring-opacity-90 lg:h-full lg:w-auto"
                        width="2000"
                        height="1058"
                        src={ferreHeader}
                        alt="Edifimak"
                     />
                  </picture>
               </figure>
            </div> -->
         </div>
      </div>
   </div>
</section>
